* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
  }

  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://source.unsplash.com/960x1080/?fire') left no-repeat, url('https://source.unsplash.com/960x1080/?snow,ice') right no-repeat;
    background-size: 50% 100%;
  }
  
  .container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    margin: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
  }
  
  .hot {
    color: red;
  }
  
  .cold {
    color: blue;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    color: #555;
    text-align: center;
    padding: 10px 0;
  }
  