*{
    margin:0;
    padding:0;

}
html{
    color: white;
    font-family: sans-serif;
    background-color: black;
}
.top_header, .body-section, .faq-container{
    border-bottom: 5px solid #535251;
}
/*header section*/
.top_header{
 height: 100vh ;
 background-image: url(./background.jpg);
}
.container{
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.dropdown-container{
    
    position: relative;

}
.btn{
    background-color: #E50815;
    padding: 8px 10px;
    border: 1px solid #535251;
    border-radius: 5px;
    color: white;
}
.language-picker{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 30px;
    border: 1px solid #535251;
    border-radius: 5px;
}
.language{
    left: 4px;
}


.language , .dropdown{
position: absolute;
top: 5px;
}
.dropdown{
    right: -1px;
    top: 6px;

}
.navbar
{
    margin: 0 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    

}
.right-half{
    
    display: flex;
    gap: 40px;
    align-items: center;
}
.content{
    
    margin: 20vh auto;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;/*main axis horizontal*/
    align-items: center;
}
.content h1 , .content p{
margin-top: 20px;
}
.content h1{
    font-size: 50px;
    font-weight: bold;
}
.content p{
    font-size: 24px;
    font-weight: bold;
}
.emailcontainer{
    
    display: flex;
    gap: 20px;
    width: 70%;
    margin-top: 40px;
}
.emailcontainer > input{
    flex-grow: 1;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #535251;
    padding: 0 20px;
    border-radius: 5px;
}
.btngetstarted{
    text-align: center;
    color: white;
    display: flex;
    align-items: center ;
    font-size: 24px;
   
}
.btngetstarted > span{
    font-size: 30px  !important;
}

/*body section*/

.body-section{
    
    display: flex;
    align-items: center;
    padding: 100px 100px;
}
.left-item h1, .right-item h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.left-item p, .right-item p{
    font-size: 24px;
}
.right-item {
    position: relative;
    
}
.right-item > video{
    position: absolute;
    left: 80px;
    top: 20%;
    z-index: -1;
}
.layout{
    border: 2px solid #535251;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 25%;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.layout p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.layout p span{
    color: blue;
}
.layout img{
    width: 50px;
}
.static-left-item{
    
    position: relative;
}

.faq-container{
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.faq-container > h1{
    font-size: 50px;
    margin-bottom: 20px;

}
.faq{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 20px;
    background-color: #202020;
    transition-duration: 0.5s;
}
.faq > p , .faq > span{
font-size: 35px !important;
}
.faq-container > p {
    margin: 20px 0;
    font-size: 30px;
}
.faq:hover{
    background-color: #736c6c;
}


.footer-container{
    padding: 100px;
}
.footer-container, .footer-container  a {
    
    color:#AFAFAF;
}
.links-container{
    
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 40px 0;
}
.links-item{

    
    display: flex;
    flex-direction: column;
    gap :20px;

}